$page-clr-1: #f8f3f1;
$page-clr-2: #f8ebe9;
$page-clr-3: #eb6b4d;
$page-clr-4: #f7e8e2;
$page-clr-5: #f8f3f1;
$active-clr: #f1993a;
$hover-clr: #ffd393;
$text-clr: #ea5b3a;
$socials-text: #fbe4df;
$socials-hover: #e95b3a;
$img-after: #edcbbe;
$card: #fffbfb;
$card2: #fdf4f2;
